/* Set the page height to full viewport height */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Center the apple icon both horizontally and vertically */
  body {
    display: flex;
  }
  
  /* 아이콘 컨테이너 스타일링 */
  .apple-icon {
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 아이콘 스타일링 */
  .apple-icon i {
    font-size: 100px; /* Adjust the font-size to make the icon larger */
    color: #e74c3c; /* Change the color of the icon if needed */
  }
  