.my-custom-box {
    width: 100%; /* 박스의 가로 길이를 최대로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    /* 다른 스타일도 추가가능 */
  }
  
  
  
  .search-form-container {
    display: flex; /* 요소들을 가로로 나열 */
    flex-wrap: wrap;
    gap: 10px; /* 요소 사이 간격 설정 */
    max-width: 4500px;
    margin-top: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .data-create-button {
    font-size: 15px;
    background-color: #9a1548;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button {
    background-color: #9a1548; /* Your desired button color */
    color: white; /* Text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  
  /* 결제하기 버튼 */
  .payment-button {
    text-align: center;
  }
  
  .payment-btn {
    text-align: center;
    background-color: #000000;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .payment-btn:hover {
    background-color: #000000;
  }
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px; /* 각 테이블 사이의 간격을 주기 위한 마진 */
  }

  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  /* 왼쪽 정렬 */
  .custom-table th {
    text-align: left;
  }

  /* 데이터 영역 스타일 */
  .data-cell {
    display: flex;
    align-items: center;
  }

  /* 데이터 텍스트 간격 */
  .data-text {
    margin-left: 100px; /* 데이터와 텍스트 간격 */
  }

  /* 헤더와 데이터 한 줄로 정렬 */
  .inline-row {
    display: flex;
    align-items: center;
    margin-top: 10px; /* 테이블 위쪽 간격 */
    margin-bottom: 10px; /* 줄 간격 조절 */
  }

  /* 헤더 스타일 */
  .inline-header {
    margin-right: 300px; /* 헤더 오른쪽 공백 */
    flex-shrink: 0; /* 공백이 줄어들지 않도록 설정 */
  }