/* App.css (또는 다른 CSS 파일) */
.navbar-container {
    top: 0;
    position: fixed;
    width: 1000%;
    text-align: center; /* 가로 방향 가운데 정렬 */
    background-color: #BB2649;
    
  }
  
  .ganerate-font {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    color: white; /* 왼쪽 여백 추가 */
  }
  
  .mr-auto-navbar-links{
    margin-left: 80px;
    margin-right: 80px;
  }

  /* 이용안내 ~ 마이페이지 */
  .nav-item-font {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white; /* 각 링크의 오른쪽 여백 추가 */
  }

  .nav-item-box {
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    padding: 0px 0px;
    border: 2px solid white;
    border-radius: 100px;
    margin: 0 10px; 
  }

 
  .icon {
    margin-right: 20px; /* 아이콘과 글자 사이의 간격 조정 */
  }