@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.custom-h1-spacing {
    margin-bottom: 10px;
  }

.centered-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
  }
  
  /* Smaller box size */
  .rounded-box {
    max-width: 1000px; /* Adjust this value to change the box width */
    width: 100%;
    margin: 0 ;
  }
  
  
  .HomePage {
    position: absolute;
    top: 0; /* Positioned at the top */
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    padding-top: 0px; /* Adding some top padding to create space from the top */
    width: 100%; /* Setting width to 100% to take up the entire width of the viewport */
  }


.RegisterPage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  margin-top: 310px; /* You can adjust this value as needed */
  width: 360px; /* Adjust the width as per your preference */
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9a1548;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #7e0e3d;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #9a1548;
  text-decoration: none;
}
