<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--필수 _ css와 연결-->
    <link rel="stylesheet" href = "./LoginPage.css">

    <script src = "./LoginPage.js" defer></script>
    <title>Document</title>
</head>
<body>
    <body class="align">

        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input id = "id" type="text" placeholder="아이디"/>
                <input id = "psword" type="password" placeholder="비밀번호"/>
                <p id="button">로그인</p id="button">
                <!--api-->
                <p class="message">Not registered? <a href="/auth/signup">Create an account</a></p>
              </form>
            </div>
          </div>
      
      </body>
</body>
</html>