

/* Add this to your CSS file */
.page-number-button {
  background-color: white;
  color: #9a1548;
  border: 1px solid #9a1548;
  padding: 5px 10px;
  cursor: pointer;
}

.page-number-button.active {
  background-color: #9a1548;
  color: white;
  border: 1px solid #9a1548;
  padding: 5px 10px;
  cursor: pointer;
}




.search-form-box {
    width: 100%; /* 가로 넓이를 100%로 설정하여 가로로 확장 */
  }
  

  .search-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; /* 열 -> 행으로 변경 */
  }
  

  .search-form-container > div {
    flex: 0 0 row(33.33% - 10px); 
/* 3개의 열로 나누고, 간격을 고려하여 계산 */
    margin-bottom: 10px; /* 아래 여백 추가 */
  }


  /* 카테고리 */
  .search-category {
    display: flex; /* 요소들을 가로로 나열 */
    flex-wrap: wrap;
    gap: 10px; /* 요소 사이 간격 설정 */
    max-width: 3000px;
  }
  
  /* 가격 */
  .search-input {
    display: flex; /* 요소들을 가로로 나열 */
    flex-wrap: wrap;
    gap: 10px; /* 요소 사이 간격 설정 */
    max-width: 450px;
    margin-top: 30px;
  }

  /* 검색어 */
  .search {
    display: flex; /* 요소들을 가로로 나열 */
    gap: 10px; /* 요소 사이 간격 설정 */
    max-width: 10px;
    margin-top: 30px;
  }
  
  .search-button {
    margin-top: 10px;
  }
  