.product-card {
  border: 1px solid #ccc; /* Add border style here */
  padding: 16px; /* Add padding for spacing */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align contents */
}

.product-image {
  margin-right: 16px; /* Add margin for spacing */
}

.product-details {
  flex: 1; /* Allow details to take remaining space */
}
.bold-text {
  color: #931C3E;
}

.product-category {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-title {
  font-size: 25px;
  margin-bottom: 10px;
  color: #222;
}



.product-price{
  display: flex;
font-weight: bold;
bottom: '10';
right: '100' 
}

.product-description {
  color: #555;
}

.description-box {
  background-color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.2;
  margin-top: 12px; /* Add margin at the top */
  margin-bottom: 12px; 
}



.category-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block; /* Display as inline block */
}

.product-categoryNames {
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 14px; /* Adjust font size */
}


/* Add this to your CSS file */
.page-number-button {
  background-color: white;
  color: #9a1548;
  border: 1px solid #9a1548;
  padding: 5px 10px;
  cursor: pointer;
}

.page-number-button.active {
  background-color: #9a1548;
  color: white;
  border: 1px solid #9a1548;
  padding: 5px 10px;
  cursor: pointer;
}


.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.search-form-box {
    width: 100%; /* 가로 넓이를 100%로 설정하여 가로로 확장 */
  }
  

  .search-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row; /* 열 -> 행으로 변경 */
  }
  

  .search-form-container > div {
    flex: 0 0 row(33.33%  100px); 
/* 3개의 열로 나누고, 간격을 고려하여 계산 */
    margin-bottom: 10px; /* 아래 여백 추가 */
  }


  /* 카테고리 */
  .search-category {
    display: flex; /* 요소들을 가로로 나열 */
    flex-wrap: wrap;
    gap: 40px; /* 요소 사이 간격 설정 */
    max-width: 3000px;
    margin-top: 30px;
  }
  
  /* 가격 */
  .search-input {
    display: flex; /* 요소들을 가로로 나열 */
    flex-wrap: wrap;
    gap: 40px; /* 요소 사이 간격 설정 */
    max-width: 3000px;
    margin-top: 30px;
  }

  /* 검색어 */
  .search {
    display: flex; /* 요소들을 가로로 나열 */
    gap: 10px; /* 요소 사이 간격 설정 */
    max-width: 10px;
    margin-top: 30px;
  }
  
  .search-button {
    margin-top: 10px;
  }
  